<div class="hero-image-fort-lauderdale">
  <div class="hero-text">
    <h1 class="masthead-title">Free things to do in Fort Lauderdale</h1>
   <p class="masthead-sub">
     Live from vacationidea.com
   </p>
  </div>
</div>


<div class="item-container">
<% @item.each do |item| %>

<% a_tag = item.at_css('a') %>

<% if !!a_tag and a_tag.values.any? and !!item.at_css('h2') %>

<h3 class="event-header"><%= link_to parse_ftld(item), a_tag['href'] %></h3>

<%= item.at_css('p').text.truncate(200, omission: '...') %>

  <hr>

<% end %>
<% end %>
 
</div>