<% content_for :body_class, 'home-page' %>

<div class="row">

  <div class="col-md-6 bee-container">
    <%= image_tag 'bee.png', width: '100%' %>
  </div>

  <div class="col-md-6">
    <div class="masthead">
      <h1 class="home-header">Freebee</h1>

      <h4 class="sub-text">A list of the best free things in your city!</h4>


      <% if user_signed_in? == true %>
      <%= link_to "Get Started!", miami_path, class: 'btn btn-primary btn-lg get-started' %>
      <% else %>
      <%= link_to "Get Started!", new_user_registration_path, class: 'btn btn-primary btn-lg get-started' %>
      <% end %>


    </div>
  </div>
</div>