<div class="hero-image">
  <div class="hero-text">
    <h1 class="masthead-title">Free things to do in Miami</h1>
   <p class="masthead-sub">
     Live from thrillist.com
   </p>
  </div>
</div>


<div class="item-container">
  <% @item.each do |item| %>
  
  <% a_tag = item.at_css('a') %>
  
  <% if !!a_tag and a_tag.values.any? and !!item.at_css('h2') %>
  
  
  <h3 class="event-header"><%= link_to (parse_title(item)).delete('^a-zA-Z '), a_tag.values.first %></h3>
  <%= item.at_css('p').text %>

    <hr>
  
  <% end %>
  <% end %>
</div>