/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h1,h2, 
h3,h4 {
  font-family: 'Poiret One', cursive;
  font-weight: 800;
}

.btn:hover {
  cursor: pointer;
}

.get-started {
  background-color: #e67e22;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
}

.bee-container {
  margin-top: 70px;
}

.get-started:hover {
  background-color: #e67e22;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

a, a:hover {
  color: inherit;
}

.home-header {
  color: white;
  font-size: 8.5em;
}

.sub-text {
  color: dark-gray;
  margin-bottom: 30px;
}

.masthead {
  margin-right: 40px;
  text-align: center;
  margin-top: 127px;
}


.event-header {
  font-size: 2.2rem;
  font-family: 'Vollkorn SC';
  color: #2980b9;
}

.home-page {
  background-color: #aad0df;
}

.bee-pic {
  width: 100%;
  background-image: url(bee.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-up-container {
	margin-left: auto;
  width: 100%;
}


.masthead-title {
  font-size: 4em;
}

.hero-image {
    /* The image used */
    background-image: url(beach_photo.jpeg);

    /* Set a specific height */
    height: 400px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
  position: absolute;
  left: 0px;
  top: 140px;
  width: 100%;
  height: auto;
  text-align: center;
  color: #FFF;
}

.item-container {
  padding: 60px 210px 50px 110px;
}